google-generativeai
SpeechRecognition
pyttsx3
gTTS
pyaudio
psutil
pywin32
pyautogui
google-generativeai
SpeechRecognition
pyttsx3
gTTS
pyaudio
psutil
pywin32
python-dotenv
selenium
requests
colorama
sounddevice
numpy
scipy
edge-tts
pyautogui
Pillow
pygame
